<div class="starter-template formWrapper">
    <div id="json-form" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title">JSON used to build the form</h4>
                </div>
                <pre class="prettyprint lang-json linenums nocode">

                </pre>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#json-form">
        Show the JSON
    </button>
    <div id="errors-container">


    </div>
    <!--
        The Form will be rendered here.
        See the ContactFormView for more details
    -->
</div>